#color_scheme_form .form-item.form-type-checkboxes,
#color_scheme_form .form-item.form-type-radios {
  height:auto;
}

#color_scheme_form .form-item.form-type-checkboxes label,
#color_scheme_form .form-item.form-type-radios label {
  float:none;
}

#color_scheme_form .form-item.form-type-checkboxes .form-type-checkbox,
#color_scheme_form .form-item.form-type-radios .form-type-radio {
  margin:0; padding:0;
}
